*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #171717;
    font-family: Saira, sans-serif;
    justify-content: center;
    display: grid;
    grid-template:
        "header"   500px
        "main"     1fr
        "footer"   30px /
        1fr;
}
.RRSS{
    width: 100%;
    margin: 0px 5px;
    padding: 7px 10px;
    font: 13px "Saira", sans-serif;
    color: white;
    justify-content: end;
    display: flex;
    gap: 10px;
    border-bottom: 1px solid white;
}
.RRSS img{
    width: 24px;
    height: 24px;
    justify-content: end;
}
.menu{
    list-style-type: none;
    width: 100%;
    height: auto;
}
h1{
    font: 40px "Saira", sans-serif;
    color: white;
    padding: 40px 0px 20px;
}
.separador1{
    border-bottom: 2px solid #C94EF6;}
.separador2{
    border-bottom: 2px solid #90FD05;
}
.separador3{
    border-bottom: 2px solid #FDCC1D;
}
main{
    background-color: white;
    justify-content: center;
    padding: 0px 15px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr / 1fr;
    gap: 20px;
}
.article{
    display: grid; /*Aparición de los elementos con "grid"*/
    grid-template: /*Crear plantillas/"celdas" con ""grid"*/
        "Fila1" 150px /*Altura de los celdas*/
        "Fila2" 50px /*Altura de los celdas*/
        "Fila3" 1fr  /*Altura de los celdas*/
        "Fila4" 25px / /*Altura de los celdas*/
         1fr; /*Anchra para cada celda*/
    background-color: #F2F2F2;
    border-radius: 20px;
    margin: 20px;
    border-radius: 20px; /*Añade un radio/borde redondeado*/
    padding-left: 20px;
}
footer{
    color: white;
    font: 18px "Saira", sans-serif;
}